@model GoA_Site.Models.TankGear

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TankGear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ign" class="control-label"></label>
                <input asp-for="ign" class="form-control" />
                <span asp-validation-for="ign" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ebon" /> @Html.DisplayNameFor(model => model.Ebon)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alkosh" /> @Html.DisplayNameFor(model => model.Alkosh)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Yolna" /> @Html.DisplayNameFor(model => model.Yolna)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Akaviri" /> @Html.DisplayNameFor(model => model.Akaviri)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Torug" /> @Html.DisplayNameFor(model => model.Torug)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Powerful_Assault" /> @Html.DisplayNameFor(model => model.Powerful_Assault)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morag_Tong" /> @Html.DisplayNameFor(model => model.Morag_Tong)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Worm" /> @Html.DisplayNameFor(model => model.Worm)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hircine" /> @Html.DisplayNameFor(model => model.Hircine)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dragons_Defilement" /> @Html.DisplayNameFor(model => model.Dragons_Defilement)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Lord_Warden" /> @Html.DisplayNameFor(model => model.Lord_Warden)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Stonekeeper" /> @Html.DisplayNameFor(model => model.Stonekeeper)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Earthgore" /> @Html.DisplayNameFor(model => model.Earthgore)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Thurvokun" /> @Html.DisplayNameFor(model => model.Thurvokun)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Symphony" /> @Html.DisplayNameFor(model => model.Symphony)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
